.color0 {
    background: #FFEBCD;
}
.color1 {
    background: #FFCC99;
}
.color2 {
    background: #EEE5DE;
}
.color3 {
    background: #FFF5EE;
}
.color4 {
    background: #F87531;
}
.color5 {
    background: #EE8262;
}
.color6 {
    background: #EEB4B4;
}
.color7 {
    background: #00B2EE;
}
.color8 {
    background: #00FA9A;
}
.color9 {
    background: #CD96CD;
}
.ui-autocomplete { 
    font-size: 15px;
    width: 400px; 
    line-height: 1.8em;
    max-height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden;
    background: #f9f9f9;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #DB9370;
    background: #EEE9E9;
    font-weight: bold;
    color: #292421;
}
body {
    background: #f7f7f7;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#container {
    text-align: center;
    width: 1200px;
    margin: 20px auto;
}
#logo {
    margin: 50px 0px 30px 10px;
    text-align: left;
    font-size: 40px;
    text-shadow: 1px 1px 6px gray;
    width: 700px;
}
#logo:hover {
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
}
#add {
    width: 400px;
    margin: 0px 6px;
    color: gray;
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px gray solid;
    box-shadow: 0px 0px 5px gray;
    background: #f8f8ff;
}
#add:focus {
    outline: 0px;
    border-radius: 5px;
    border-color: orange;
}
#addform {
    margin: 0px 0px;
    font-size: 16px;
    text-align: left;
    padding-left: 50px;
}
#timetable_wrapper {
    background: #F9F9F9;
    margin: 10px;
    padding: 5px 50px 40px 50px;
}
#timetable {
    border-collapse: collapse;
}
#timetable td {
    height: 60px;
    width: 90px;
    text-align: center;
    vertical-align: top;
    padding: 7px 1px 1px 1px;
}
#timetable td.time {
    vertical-align: bottom;
    font-size: 12px;
}
#timetable th.weekday {
    border-right: 1px solid lightgray;
    padding-right: 1px;
    font-size: 12px;
    background: #F9F9F9;
    text-shadow: 0px 0px 1px gray;
    font-weight: normal;
}
#timetable tbody {

}
tbody.days tr:last-child > td {
    padding-bottom: 1em;
}
#Mo, #Tu, #We, #Th, #Fr, #Su, #Sa {

}
.h09, .h10, .h11, .h12, .h13, .h14, .h15, .h16, .h17, .h18, .h19, .h20, .h21, .h22 {

}
.m00 {
    border-left: 1px solid #ddd;
}
.m30 {
    border-right: 1px solid #ddd;
}
.m00, .m30 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.m30[class~="occupied"][class~="m30"]  {
    border-right: 0px solid transparent;
}
td.alt {
    border-right: 1px transparent solid;
    visibility: hidden;
}
.timediv {
    position: relative;
    left: 20px;
}
#times {
    background: #F9F9F9;
}
.hover {
    background-color:  #f7f7f7;
}
.occupied { /* table cell (td) that has been occupied by course */

}
.lesson {
    float: left;
    overflow: hidden;
    height: 37px;
    width: 100%;
    margin: 0px auto;
    border: 2px solid;
    padding: 6px 0px 4px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    cursor: no-drop;
}
.draggable {
    cursor: move;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
.hidden {
     display: none;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#courselist {

}
#timetable_controls {
    border-collapse: collapse;
    text-align: left;
    width: 70%;
    margin: 15px 50px;
    font-size: 16px;
}
#timetable_controls thead th {
    background: #f3f3f3;
}
#timetable_controls td, #timetable_controls th {
    border: 1px #1a4c00 solid;
    padding: 7px 8px;
}
#timetable_controls a {
    text-decoration: none;
    color: saddlebrown;
}
#timetable_controls tbody td:first-child { /* Course Code */
    text-align: right;
}
#timetable_controls #none {
    text-align: center;
}
.actionsImg {
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
.virtual {
    border-style: dotted;
    border-color: tomato;
    opacity: 0.5;
}
.virtual-hover {
    opacity: 1;
    border-style: dashed;
}
.move {
    opacity: 0.4;
}
.separator td, .separator th {
    height: 2px !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px solid transparent;
}
#readmode {
    text-align: left;
    padding: 8px 0px 0px 15px;
    margin-bottom: -35px;
    display: none;
    color: red;
}
#readmode span {
    outline: 1px solid red;
    padding: 2px;
}
#titlesubtext {
    font-size: 0.5em;
    color: gray;
}